<!-- Navbar Start -->

<div id="hangMenu" class="navbar icon-bar left-bar margin-top filter">

  
    <!-- Icon Menu Start --> 
    <ul id="jobsMenu" class="menu pull-left hide white">
        <li class="divider"></li>
        <li>
            <a ui-sref="worklist" ng-click="vm.jobSpecMenu()" ui-sref-active="active" class="title">
                <span>Worklist</span>
            </a>
        </li>

        <li class="divider"></li>
        <li>
            <a ui-sref="search" ui-sref-active="active"  class="title">
                <span>Search</span>
            </a>
        </li>

        <li class="divider"></li>
        <li>
            <a href="#/details" class="title">
                <span>Details</span>
            </a>
        </li>

        <li class="divider"></li>
        <li>
            <a href="#" class="title">
                <span>History</span>
            </a>
        </li>

       

        <li class="divider jobspecmenu hide"></li>
        <li class="jobspecmenu hide">
            <a href="#" class="title pink blue">
                <span>Edit</span>
            </a>
        </li>

        <li class="divider jobspecmenu hide"></li>
        <li class="jobspecmenu hide">
            <a href="#" class="title pink blue">
                <span>Delete</span>
            </a>
        </li>

        <li class="divider"></li>
        <li>
            <a href="#" class="title light-green">
                <span>Add</span>
            </a>
        </li>
    </ul>
    <!-- Icon Menu End -->

    <!-- Transfer menu -->

    <ul id="transferMenu" class="menu pull-left hide white">

        <li class="divider"></li>
        <li>
            <a ui-sref="transfer" ng-click="" ui-sref-active="active" class="title">
                <span>Transfer</span>
            </a>
        </li>
        <li class="divider"></li>

    </ul>

    <!-- tasks menu -->

    <ul id="tasksMenu" class="menu pull-left hide white">

        <li class="divider"></li>
        <li>
            <a ui-sref="tasks" ng-click="" ui-sref-active="active" class="title">
                <span>Tasks</span>
            </a>
        </li>
        <li class="divider"></li>

    </ul>

    <!-- manage menu -->

    <ul id="mngMenu" class="menu pull-left hide white">

        <li class="divider"></li>
        <li>
            <a ui-sref="clients" ng-click="" ui-sref-active="active" class="title">
                <span>Clients</span>
            </a>
        </li>
        <li class="divider"></li>
       
        <li>
            <a ui-sref="employess" ng-click="" ui-sref-active="active" class="title">
                <span>Clients</span>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a ui-sref="departments" ng-click="" ui-sref-active="active" class="title">
                <span>Clients</span>
            </a>
        </li>
        <li class="divider"></li>

    </ul>

</div>
<!-- Navbar End -->