
<div class="navbar margin-top">
    <!-- Brand Start -->
    <a href="" class="brand fill-white">Job Order</a>
    <!-- Brand End -->
    <!-- First Menu Start -->
    <ul id="hangNav" class="menu pull-left">
        <li class="divider"></li>
        <li><a id="jobsNav" class="hover-fill-gray" ng-click="vm.navChange('worklist')" href="">Jobs</a></li>
        <li class="divider"></li>
        <li><a id="transferNav" class="hover-fill-gray" ng-click="vm.navChange('transfer')" href="">Transfer</a></li>
        <li class="divider"></li>
        <li><a id="tasksNav" class="hover-fill-gray" href="#">Tasks</a></li>
        <li class="divider"></li>
        <li><a id="mngNav" class="hover-fill-gray" ng-click="vm.navChange('clients')" href="">Manage</a></li>
        <li class="divider"></li>
    </ul>
    <!-- First Menu End -->
   
    <!-- Second Start -->
    <ul class="menu pull-right">
        <li class="divider"></li>
        <li><a class="active white hover-fill-gray" href="#">Logout</a></li>
    </ul>
    <!-- Second End -->
</div>